parameters:
    level: 5
    ignoreErrors:
        - '#Call to static method [a-zA-Z0-9_]+\(\) on an unknown class WP_CLI.#'
    paths:
        - .
    excludePaths:
        - vendor/
    scanFiles:
        # If you are in a standalone folder and WP is not installed in the root,
        # you might need to exclude missing constants or stub them.
        # usually the extension handles most of this.
